{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block css %}
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <form class="form-signin mt-5" method="post" action="" name="RegisterForm">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2 class="form-signin-heading">Inscription</h2>
        <div class="form-group">
            <label for="id_username">Nom d'utilisateur</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="text" name="email" id="id_email" class="form-control" placeholder="email@exemple.com" required>
        </div>
        <div class="form-group">
            <label for="id_password1">Mot de passe</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="form-group">
            <label for="id_password2">Confirmation du mot de passe</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Mot de passe" required>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit"></input>
        <input type="hidden" name="S'incrire" value="S'incrire" />
    </form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
